@import '_setting.scss';

$list-bg-color: #ebecf0;
.board-columns {
    height: $board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 $gap $gap;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color:rgba(255,255,255,0.24);
      border-right: 5px solid $list-bg-color;
      border-radius: 8px;
  
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }