@import '_setting.scss';

$list-bg-color: #ebecf0;
.board-columns {
    height: $board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 $gap $gap;
    &::after {
      content: '';
      flex: 0 0 $gap;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color:rgba(255,255,255,0.24);
      border-right: 5px solid $list-bg-color;
      border-radius: 8px;
  
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
    .add-new-column {
      width: 250px;
      max-width: 250px;
      line-height: 32px;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      font-size: 15px;
      background-color: hsl(0, 0%, 100%,.24);
      border-radius: 5px;
      &:hover {
        background-color: hsl(0, 0%, 100%,.34);
      }
    }
    .enter-new-column {
      width: 250px;
      max-width: 250px;
      background-color: #ebecf0;
      line-height: 32px;
      padding: 32px;
      padding: 4px 15px;
      margin-left: $gap;
      border-radius: 5px;
      input.input-enter-new-column {
        margin: 5px 0;
      }
    }
    .cancel-new-column {
      padding: 4px 8px;
      cursor: pointer;
      .icon {
        margin-left: 10px;
        
      }
    }
   
  }