@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
$gap: 10px;
$narbar-app-height: 4vh;
$navbar-board-height: 5vh;
$board-content-height: 91vh;

$board-bg-color: #0079bf;
