@import '_setting.scss';

$appbar-bg-color: #0067a3;
body {
  margin: 0;
  font-family: 'Scoure Sans Pro',sans-serif;
  line-height: 1.3em;
}
.trello {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color ;

  .icon {
    font-size: 16px;
    margin-right: 6px;
  }
}



